*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Sofia", sans-serif;
}
body 
{
    background-color: black;
}

.port_container .port-top 
{

   display: flex;
   width: 30.5%;
   float: right; 
   margin-right: 10rem;
   justify-content : space-between;
   justify-items: center;
   margin-top: 1rem;
  

}
.port_container .port-top .port_list 
{
position: relative;
 
}
.port_container .port-top  a
{

 color:white;
 font-size: 1rem;
}
.port_container .port-top  i 
{
    display: none;
}
.port_container .name-text .texter
{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin: 3rem;
}
.port_container .name-text .texter .soft-name
{
 color: rgba(255, 255, 255, 0.677);

}
.port_container .name-text .texter .soft-name-2
{
 color: rgba(0, 0, 255, 0.49);
 font-size: 2rem;
}

.name-text button 
{
    position: absolute;
    margin-top: 17rem;
    border: none;
    height: 5vh;
    width:20%;
    background-color: rgba(17, 17, 195, 0.719);
    color: white;
    
}
.port_container .name-text .img-text img 
{
 width: 100%;
 height: 70vh;
 margin-left: 25rem;
 margin-top: 7rem;

}
.section-container .section-pic 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container .section-pic img
{
   
    width: 30%;
    height: 60vh;
    border-radius: 50%;
}
.section-container .port-about-p 
{
    color: orangered;
    text-align: center;
    font-size: 3vh;
    margin-top: 3rem;
}
section .section-container .port-about 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .section-container .port-about img
{
   width: 100%;
   height: 70vh;
   border: 1px solid black;
   border-radius: 50%;
}
section .section-container .port-about .port-about-h2
{
   color: rgba(255, 255, 255, 0.738);
   font-size: 2vh;
   margin-top: 2rem;
  
}
section .section-container .port-about .port-about-h2 .about-me
{
    color: orangered;
    font-size: 4vh;
    text-decoration: underline;
    text-align: center;
    
}
.port-about-p 
{
   
    color: orangered;
    text-align: center;
    font-size: 3vh;
    margin-top: 3rem; 
}
.port-skills .php
{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

section .port-skills .php img 
{
    width: 80%;
    height: 30vh;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    margin-left: 2rem;
}
.port-skill h4 
{
 color: orangered;
 text-align: center;
}
.port-skilles .php
{
    display: inline-block;
    justify-content: center;
    align-items: center;
   

}

section .port-skilless .php img 
{
    width: 80%;
    height: 30vh;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    margin-left: 2rem;
}
.port-skill h4 
{
 color: orangered;
 text-align: center;
}

section .myTool .Use .tool
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.421);
    box-shadow: 2px 1px 1px 2px;
    height:6rem;
    width: 6rem;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 4rem;
    margin-top: 2rem;
}
section .myTool .Use .tool p 
{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 2.5rem; 
    
}
.port-experience img
{
 width: 100%;
 height: 70vh;

}
.port-experience
{
    display: flex;
}
.port-experience p
{
 width: 80%;
 color: rgba(255, 255, 255, 0.515);
 margin-top: 2rem;

}
footer 
{
    background-color: rgba(49, 49, 49, 0.704);
    height: auto;
    width: 100%;
}
.social {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 40%;
  margin-left: 26rem;
  font-size: 3vh;

}
.social a i
{
  color: white;
  margin-top: 2rem;
  
  
}
.project 
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   padding: 0 5rem;
}
.pro_view img
{
 height: 40vh;
 width: 100%;
 margin-top: 2rem;

}
.project h3
{
    color: white;
    
}
.project a 
{
    background-color: orangered;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    border: none;
}
@media screen and (max-width: 1200px) {
body
{
    overflow-x:hidden; 
}
.port_container .port-top 
{

   display: block;


}

.port_container .name-text .texter
{
    color: white;
    display: block;
    margin: 1rem;
    margin-top: 6rem;
}

.port_container .port-top 
{

   display: none;


}
.port_container .name-text .img-text img 
{
 width: 100%;
 height: 70vh;
 margin-left: 0rem;
 margin-top: 7rem;

}
.port_container .name-text .texter .soft-name-2
{
 color: rgba(0, 0, 255, 0.49);
 font-size: 2rem;
}
.name-text button 
{
    position: absolute;
    margin-top: 2rem;
    border: none;
    height: 5vh;
    width:40%;
    
}
.port-about-h2 
{
    display: block;
    width: 100%;
}
section .section-container .port-about 
{
    display: block;
   margin-left: 3vh;
}
.section-container .section-pic 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-container .section-pic img
{
   
    width: 100%;
    height: 40vh;
    border-radius: 50%;
}
.port-skills .php
{
    display: block;
    /* justify-content: center;
    align-items: center;
    margin-left: 3.5rem; */

}
section .port-skills .php img 
{
    width: 100%;
    height: 30vh;
    /* margin-top: 2rem;
    border: none;
    border-radius: 5px; */
    margin-left: 0;
}
section .myTool .Use .tool
{
    display: inline-block;

}
.port-experience
{
    display: block;
    width: 100%;
    
}
.port-experience p
{
    
    width: 80%;
    margin-left: 1rem;
    margin-top: 2rem;
}
footer 
{
    background-color: rgba(49, 49, 49, 0.704);
    height: 6rem;
    width: 100%;
}
.social {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  width: 60%;
  margin-left: 5rem;
  font-size: 3vh;

}
.project a 
{
    width: 100%;
}

}
