* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #070606ef;
}

.main-container {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    padding: 2rem 5rem;
    position: sticky;

}

.info {
    display: flex;
    align-items: center;
    width: 100%;
}

.name {
    width: 100%;
}

.name p {
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link {
    width: 40%;

}

.link a {
    padding: 0 2rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.link a:hover {
    color: rgba(169, 248, 248, 0.889);
}

main {
    width: 100%;
    height: 100%;
}

.myInfo .myInfo-div {
    padding: 3rem 15%;
    width: 100%;
}

.myInfo-div {
    display: flex;
    align-items: center;
    width: 50%;
}

.myImg {
    width: 60%;
}

.myName {
    width: 100%;

}

.myName h3 {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem 0;
}

.myName small {
    font-size: 1rem;
    color: #424242ef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.resume {
    width: 100%;
    padding: 3rem 0;

}

.resume a {
    background-color: rgba(0, 128, 0, 0.682);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
}

.myImg img {
    width: 100%;
    border-radius: 50%;
    border: 0.8rem solid #424242ef;
}

.about {
    width: 90%;
    padding: 50px 5%;
}

.abt {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.abt h2 {
    line-height: 100px;
    font-size: 2rem
}

.address-wrap {
    width: 90%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space;
}

.address-sub-wrap {
    width: 24%;
    text-align: center;
}

.i-do-wrap {
    width: 90%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.i-do-sub-wrap {
    height: 200px;
    width: 270px;
    background-color: #424242ef;
    padding: 10px 20px;
    border-radius: 7px;
    text-align: left;
    border-bottom: 10px solid green;

}


@media screen and (max-width: 1200px) {

    .myInfo-div {
        flex-direction: column-reverse;
    }

    .myImg {
        width: 60%;
    }
    .address-wrap {
       flex-direction: column;
    }
    .i-do-wrap {
        flex-direction: column;
        gap: 2vh;
}

    
}